<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>QRコード生成</title>
</head>
<body>
    <h1>QRコード生成</h1>
    <div id="inNameUrl">
        <form action="/result" method="post">
            <p>名前を入力：<input type="text" name="name" id="name"></p>
            <p>URLを入力：<input type="url" name="url" id="url"></p>
        </form>
    </div>
</body>
</html>